      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: "form-control", placeholder: "野菜いりませんか？" %>
      </div>
      
      <div class="form-group">
        <%= f.text_area :body, class: "form-control", placeholder: "詳細" %>
      </div>
      
      <div class="form-group">
        <%= f.text_field :place, class: "form-control", placeholder: "受渡し場所" %>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-sm-8">
            <%= f.label :quantity, "数量" %>
            <%= f.number_field :quantity, class: "form-control", maxlength: 10 %>
          </div>
          <div class="col-sm-4">
            <%= f.label :unit, "単位" %>
            <%= f.text_field :unit, class: "form-control", placeholder: "個" %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :price, "金額" %>
        <%= f.number_field :price, class: "form-control", maxlength: 10 %>
        <span class="help-block pull-right">無料の場合は0</span>
      </div>
      
      
      

