<% p = post %>

<h4><%= content_tag(:span, "", class: "glyphicon glyphicon-bookmark") %> <%= link_to p.title, user_post_path(p.user, p) %></h4>
<span class="pull-right">
  <span class="label label-info"><%= content_tag(:span, "", class: "glyphicon glyphicon-map-marker") %> <%= p.place %></span>
  <span class="label label-default"><%= content_tag(:span, "", class: "glyphicon glyphicon-time") %> <%= p.updated_at.strftime("%m\/%d %H:%M") %></span>
  
  <% if current_user == p.user %>
    <%= link_to "編集", edit_user_post_path(current_user, p), class: "text-muted" %>
    <%= link_to "削除", user_post_path(current_user, p), method: "DELETE", class: "text-muted", data: { confirm: "削除しますか?" } %>
  <% end %>
</span>
<hr />
<div class="row">
  <div class="col-sm-7">
    
    <% if p.closed_at %>
      <div class="alert alert-danger">
        終了しました：<%= p.closed_at.strftime("%m\/%d %H:%M") %>
      </div>
    <% else %>
      <%= image_tag image_user_post_path(p.user, p), class: "img-rounded img-responsive" %>
      <hr />
      <div class="well"><%= p.body %></div>
    <% end %>
    
  </div>
  
  <div class="col-sm-5">
    <h3><%= p.price %>円 <%= p.quantity %><%= p.unit %></h3>
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to p.user.name, p.user %>
        <span class="pull-right"><%= link_to gravatar_for(p.user, size: 20), p.user %></span>
      </li>
      <li class="list-group-item">
        <%= link_to "コメント ", user_post_path(p.user, p) %> <%= content_tag(:span, "", class: "glyphicon glyphicon-comment") %>
        <span class="badge pull-right"><%= p.comments.count %></span>
      </li>
    </ul>
    <% if p.comments.count > 0 %>
      <div class="well well-sm">
        <%= p.comments.order("updated_at DESC").first.body %>
        <span class="pull-right"><%= gravatar_for p.comments.order("updated_at DESC").first.user, size: 20 %></span>
      </div>
    <% end %>
    <% if signed_in? %>
      <%= form_for(@comment, url: user_post_comments_path(current_user, p)) do |f| %>
        <%= render "comments/fields", f: f %>
        <div class="form-group pull-right">
          <%= gravatar_for current_user, size: 30 %>
          <%= f.submit "コメント", class: "btn btn-sm btn-primary" %>
          <% if current_user == p.user %>
            <span id="btn-close<%= p.id %>"><%= render "posts/close", p: p  %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
    
    
  </div>
</div>
<hr />
