<div class="sidebar">
  <% if signed_in? && controller.controller_name == "pages" %>
    <%= form_for(@post, url: user_posts_path(current_user)) do |f| %>
      
      <%= render "posts/fields", f: f %>
      <div class="form-group">
        <%= f.submit "POST", class: "btn btn-sm btn-primary" %>
      </div>
    <% end %>
  <% end %>
  <p>
    ここに自分の投稿リストと、自分がコメントした投稿リストを直近５件表示
  </p>
  <ul class="nav">
    <li><%= link_to "ホーム", root_path %></li>
    <li><%= link_to "API", pages_api_path %></li>
    <li><%= link_to "Development", pages_devel_path %></li>
    <li><%= link_to "routes", "#{root_path}rails/info/routes", target: "_blank" %></li>
    <li><%= link_to "Livlis", "http://www.livlis.com/", target: "_blank" %></li>
    
  </ul>
</div>